* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  background-image: url(chapter7_img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading {
  padding: 20px;
  color: gray;
}

main {
  width: 840px;
  margin: 50px auto;
}

.box1 {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.box {
  padding: 30px 0;
  border-bottom: 1px solid gray;
}

.text, a {
 color: gray; 
}